DATABASE_URL="postgresql://user:password@localhost:5433/ccs_db"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
RABBITMQ_URL="amqp://user:password@127.0.0.1:5672/"
MAX_RETRIES_SIGNAL = 3;

####################### SEED
CANT_USERS=25
CANT_VEHICLES=100
